@import url("https://use.typekit.net/yrp5mtf.css");
body .hide {
  display: none;
}

body .show {
  display: block;
}

body .rolo-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .rolo-app button.rolodex {
  margin-top: 2%;
  width: 8%;
  border: none;
  padding: 10px 15px;
  font-family: mr-eaves-modern, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: #293058;
  -webkit-transition: all .22s;
  transition: all .22s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.22s;
          transition-duration: 0.22s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  color: #afbbee;
}

body .rolo-app button:hover {
  cursor: pointer;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
          box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}

body .rolo-app ul.rolodex-usrs {
  width: 70%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .rolo-app ul.rolodex-usrs li.contact-card {
  background-color: #afbbee;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1% 1%;
  margin: 25px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 35%;
  -webkit-box-shadow: inset #444664 0px 0px 8px 2px;
          box-shadow: inset #444664 0px 0px 8px 2px;
}

body .rolo-app ul.rolodex-usrs li.contact-card .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: mr-eaves-modern, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #293058;
}

body .rolo-app ul.rolodex-usrs li.contact-card .name h1 {
  font-size: 60px;
}

body .rolo-app ul.rolodex-usrs li.contact-card .name h2 {
  font-size: 60px;
}

body .rolo-app ul.rolodex-usrs li.contact-card .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .rolo-app ul.rolodex-usrs li.contact-card .info .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .rolo-app ul.rolodex-usrs li.contact-card .info .image-container img {
  border-radius: 100px;
}

body .rolo-app ul.rolodex-usrs li.contact-card .info ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .rolo-app ul.rolodex-usrs li.contact-card .info ul li {
  background-color: #8c92b3;
  margin: 10px 0;
  padding: 5px;
  color: #293058;
  text-align: left;
  border-radius: 5px;
}

body .rolo-app ul.rolodex-usrs li.contact-card button {
  margin: 20px 0;
  color: #afbbee;
  padding: 5px 15px;
  font-family: mr-eaves-modern, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: #293058;
  -webkit-transition: all .22s;
  transition: all .22s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.22s;
          transition-duration: 0.22s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
/*# sourceMappingURL=style.css.map */